.hero {
    display: flex;
    background-color: #8098f9;
}

.hero img {
    width: 100%;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 767px) {
    .hero {
        flex-direction: column;
    }

    .half-width {
        width: 100%;
    }
}